html, body {
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar {
  display: none;
}
p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
* {
  box-sizing: border-box;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
}
* ::-webkit-scrollbar {
  width: 5px; /* 设置滚动条的宽度 */
}
 
/* 自定义滚动条轨道 */
* ::-webkit-scrollbar-track {
  background: #f1f1f1; /* 设置轨道的背景颜色 */
  border-radius: 5px;
}
 
/* 自定义滚动条的滑块（thumb） */
* ::-webkit-scrollbar-thumb {
  background: #888; /* 设置滑块的背景颜色 */
  border-radius: 5px;
}
 
/* 当滑块悬停或活动时自定义滚动条的滑块 */
* ::-webkit-scrollbar-thumb:hover {
  background: #555; /* 设置滑块在悬停状态下的背景颜色 */
}

:root {
  --layout-header-height: 56px;
  --layout-tab-height: 44px;
  --layout-footer-height: 48px;
  --layout-tabs-subMenu-boxShadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
}